@charset "UTF-8";

@font-face {
  font-family: "first-draft";
  src: url("fonts/first-draft.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "first-draft" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
}

[class^="icon-"],
[class*=" icon-"] {
  font-size: 0;
}

.icon-move:before {
  content: "\6d";
}
.icon-download:before {
  content: "\62";
}
.icon-pencil:before {
  content: "\65";
}
.icon-trash:before {
  content: "\69";
}
.icon-image:before {
  content: "\6a";
}
.icon-font:before {
  content: "\74";
}
.icon-settings:before {
  content: "\6f";
}
.icon-undo:before {
  content: "\66";
}
.icon-repeat:before {
  content: "\67";
}
.icon-arrows-out:before {
  content: "\7a";
}
.icon-arrows-in:before {
  content: "\72";
}
.icon-reset:before {
  content: "\30";
}
.icon-cursor:before {
  content: "\63";
}
.icon-pan:before {
  content: "\70";
}
.icon-link-external:before {
  content: "\71";
}
.icon-measure:before {
  content: "\73";
}
.icon-right:before {
  content: "\76";
}
.icon-align-left:before {
  content: "\77";
}
.icon-menu:before {
  content: "\64";
}
.icon-info:before {
  content: "\68";
}
.icon-caret-down:before {
  content: "\61";
}
.icon-caret-up:before {
  content: "\6b";
}
.icon-pointer:before {
  content: "\6c";
}
