@import './icons.css';

html,
body {
  margin: 0;
  height: 100%;
  font-family: sans;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.gap {
  gap: 10px;
}

.grow {
  flex-grow: 1;
}

#draft {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  background: #eee;
  min-height: 2rem;

  button {
    border: none;
    border-radius: 0;
    padding: 0.3rem 0.6rem;
    background: transparent;
    cursor: pointer;

    &.options {
      padding: 0.3rem;

      [class^='icon-']::before {
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
    }

    &:hover {
      background: #ddd;
    }

    &.locked {
      color: #900;
    }

    &[aria-selected='true'] {
      background: #c5c5c5;

      &:hover {
        background: #a4a4a4;
      }
    }
  }

  .buttonContainer {
    display: inline-block;

    &:hover {
      background: #e8e8e8;
    }

    > button {
      padding-right: 5px;
    }

    .toolOptions {
      position: absolute;
      z-index: 10;
      display: none;
      padding: 1em;
      background: #fff;
      box-shadow: 10px 10px 39px 1px rgba(0, 0, 0, 0.35);
      color: #000;
      border-radius: 0 0 5px 5px;
      /* Add 4rem to buffer from firefox issue with addres bar over page */
      max-height: calc(100vh - 6rem);
      overflow-y: auto;

      @media (max-width: 700px) {
        left: 0;
        right: 0;
      }

      label {
        color: #333;
      }

      form.form {
        h1 {
          margin: 0;
          font-size: 0.9em;
        }

        p {
          font-size: 0.9em;
          margin: 0.5em 0;
        }

        button {
          background: none;
          width: 200px;
          max-width: calc(100vw - 1em);
          padding: 0.5rem;
          border-radius: 0;
          text-align: left;

          &:not([disabled]):hover {
            color: #000;
            background: #eee;
          }

          &:not([disabled]):active {
          }
        }

        .description {
          padding: 0.5rem 0.2rem;
          color: #666;
        }

        button.preset {
          position: relative;
          width: 30px;
          height: 25px;
          padding: 0;
          background: linear-gradient(
            0deg,
            #fff 0%,
            #fff 50%,
            #f0f0f0 50%,
            #f0f0f0 100%
          );
          border: solid 1px #f0f0f0;

          div {
            margin: 0 auto;
          }

          div.label {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 25px;
          }

          div.text {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            div {
              line-height: 1;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    .toolOptionsCover {
      background: rgba(255, 255, 255, 0.6);
      width: 100vw;
      height: 100vh;
    }

    &.optionsOpen .toolOptionsCover,
    &.optionsOpen .toolOptions {
      display: block;
    }
  }
}

#canvasContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;

  .editTextbox {
    position: absolute;
    white-space: pre;
    min-width: 10px;
    line-height: 1.3;
  }
}

#canvas {
  width: 100%;
  height: 100%;
}

#canvasPosition {
  font-size: 0.7em;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #333;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  z-index: 4;
}

.cover {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 100vh;
  line-height: -moz-block-height;
  z-index: 3;

  > * {
    line-height: normal;
    display: inline-block;
  }

  .overlay {
    background: #fff;
    padding: 2em 3em;
    box-shadow: 10px 10px 39px 1px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
  }
}

.cover.optionsOpen {
  background: none;
}

#dropTarget {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  pointer-events: none;
  user-select: none;
}

#dropInfo {
  display: inline-block;
  line-height: 1;
}

#footer {
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  z-index: 3;

  > div {
    padding: 10px;
    border-top: 4px solid #eee;

    &.error {
      border-color: #df7070;
    }

    &.success {
      border-color: #64ce78;
    }

    &.info {
      border-color: #648dce;
    }
  }
}

form.form {
  h1 {
    margin: 0;
    font-size: 1.4em;
  }

  label {
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 2em;
    color: #999;
    font-size: 0.8rem;
    line-height: 1.2em;

    select,
    input[type='password'],
    input[type='email'],
    input[type='url'],
    input[type='file'],
    input[type='tel'],
    input:not([type]),
    input[type='text'] {
      display: block;
      border: none;
      border-bottom: solid 1px #000;
      background: transparent;
      padding: 0.1em 0;
      font-size: 1rem;
    }

    select {
      width: 100%;
    }

    input[type='color'] {
      background: transparent;
      border: none;
      display: block;
      width: 100%;
      padding: 0;
    }

    input[type='range'] {
      width: 100%;
      background: none;
    }

    &.file {
      input {
        display: none;
      }
      span {
        display: block;
        border-bottom: solid 1px #000;
        background: transparent;
        padding: 0.1em 0;
        font-size: 1rem;
      }
    }
  }

  label:first-of-type {
    margin: 0;
  }

  input[type='submit'],
  input[type='reset'],
  button {
    background: #ccc;
    color: #333;
    border-radius: 5px;
    border: none;
    padding: 0.5em 2em;
    margin: 0 5px;

    &:hover {
      background: #0065d7;
      color: #fff;
      cursor: pointer;
    }

    &:active {
      background: #024fa5;
    }

    &:disabled {
      background: #eee;
      color: #ccc;
      cursor: default;
    }
  }

  button.allowConfigured {
    background: transparent;
    padding: 0;

    &:hover {
      color: #333;
    }

    &:disabled {
      color: #999;
      cursor: default;
    }
  }

  button.linkButton {
    background: none;
    padding: 0;
    text-align: left;
    font-size: 0.9em;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  .buttons {
    input,
    button {
      margin: 10px 5px;
    }
  }

  .message {
    font-size: 0.8rem;

    &.error {
      color: #900;
    }
  }

  .remember {
    margin-top: 0;
  }
}
